:root {
    --text-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --navigation-button-hover-colour: hsl(215, 33%, 36%);
    --navigation-button-font-colour: hsl(0, 0%, 91%);
    --navigation-button-colour: hsl(234, 34%, 18%);
    --mobile-nav-menu-width: 200px;
    --body-background-colour: rgb(19, 19, 19);
    --banner-glow: #e6c616;
    --pull-button-colour: white;
}


body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--body-background-colour);
}
img {
    width: 100%;
    display: inline-block;
}
button {
    font: bold 1rem var(--text-font-family);
    background-color: unset;
    cursor: pointer;
    border: 0;
    padding: 0;
}

#toggle-navigation-bar-btn {
    width: clamp(40px, calc(10px + 10vw), 84px);
    position: absolute;
    display: none;
    z-index: 5;
    right: 5%;
}
#navigation-bar {
    position: fixed;
    top: 0;
    background-color: var(--navigation-button-colour);
    width: 100%;

}
#navigation-bar ul {
    margin: 0;
    padding: 0;
    text-align: end;
    list-style: none;
}
#navigation-bar li {
    display: inline-block;
}
.navigation-btn {
    background-color: var(--navigation-button-colour);
    color: var(--navigation-button-font-colour);
    transition: background-color 250ms;
    justify-content: center;
    text-wrap-mode: nowrap;
    align-items: center;
    display: flex;
    width: 190px;
    
}
.navigation-btn:hover {
    background-color: var(--navigation-button-hover-colour);
}
.navigation-btn img {
    width: 40px;
    margin-left: 10px;
}

#last-update-info {
    color: rgb(68, 68, 68);
    margin: 40px 0 0 5px;
    font-family: 1rem var(--text-font-family);
    text-wrap-mode: nowrap;
}

#newest-banners-container-single {
    display: inline-block;
    width: 100%;
    margin: 100px 0 0 0;
    text-align: center;
}

.banners-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 100px 30px 120px 30px;
    row-gap: 0.5%;
    column-gap: 5%;
}
.banner-container {
    cursor: pointer;
    display: inline-block;
    max-width: 1000px;
}
.banner-container img {
    box-shadow: 0 0 10px 5px var(--banner-glow);
}

.pull-bar {
    display: flex;
    position: fixed;
    width: max(400px, 100%);
    height: 50px;
    bottom: 10px;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 500ms;
}

.pull-bar-anchor  {
    text-decoration: none;
    align-items: center;
    justify-content: left;
    display: flex;
    width: 190px;
    font: bold 1.2rem var(--text-font-family);
    margin: 5px 0 5px 0;
    border: solid 3px var(--pull-button-colour);
    background-color: rgb(113, 186, 255);;
    color: var(--pull-button-colour);
    text-wrap-mode: nowrap;
}
.pull-bar-image {
    width: 45%;
    margin-right: 1%
}

#newest-banner-selected-character, #previous-banner-selected-character  {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 70px;
}
#newest-banner-selected-character p {
    margin: 0;
    display: inline;
    font: bold clamp(2rem, 10vw, 4rem) var(--text-font-family);
    color: white;
}
#previous-banner-selected-character input {
    margin: 0;
    border: solid var(--banner-glow) 5px;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    display: inline;
    font:  2rem var(--text-font-family);
    color: white;
    background-color: var(--navigation-button-colour);
}