:root {
    --sr-primary-colour: hsl(263, 100%, 69%);
    --sr-anim-f1-colour: hsl(263, 80%, 63%);
    --sr-anim-f2-colour: hsl(263, 67%, 70%);
    --sr-anim-f3-colour: hsl(263, 82%, 51%);

    --ssr-primary-colour: hsl(39, 91%, 64%);
    --ssr-anim-f1-colour: hsl(39, 91%, 68%);
    --ssr-anim-f2-colour: hsl(39, 79%, 68%);
    --ssr-anim-f3-colour: hsl(39, 76%, 75%);
}

.result-container {
    top: -15%;
    opacity: 0;
    position: relative;
    animation: move 0.25s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

#result-1  { animation-delay: 0.1s; }
#result-2  { animation-delay: 0.2s; }
#result-3  { animation-delay: 0.3s; }
#result-4  { animation-delay: 0.4s; }
#result-5  { animation-delay: 0.5s; }
#result-6  { animation-delay: 0.6s; }
#result-7  { animation-delay: 0.7s; }
#result-8  { animation-delay: 0.8s; }
#result-9  { animation-delay: 0.9s; }
#result-10 { animation-delay: 1s;   }

@keyframes move {
    100% {
        transform: translateY(+30%);
        opacity: 1;
    }
}


.sr-top, .ssr-top, .sr-bottom, .ssr-bottom {
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.sr-top {
    animation-name: pulse-purple-top;
    box-shadow: 0 10px 15px var(--sr-primary-colour);
}
.ssr-top {
    animation-name: pulse-gold-top;
    box-shadow: 0 15px 30px var(--ssr-primary-colour);
}
.sr-bottom {
    animation-name: pulse-purple-bottom;
    box-shadow: 0 -10px 15px var(--sr-primary-colour);
}
.ssr-bottom{
    animation-name: pulse-gold-bottom;
    box-shadow: 0 -15px 30px var(--ssr-primary-colour);
}

@keyframes pulse-purple-top {
    25% {
        box-shadow: 0 15px 15px var(--sr-anim-f1-colour),
              inset 0 15px 15px var(--sr-anim-f1-colour);
    }
    50% {
        box-shadow: 0 20px 15px var(--sr-anim-f2-colour),
              inset 0 20px 15px var(--sr-anim-f2-colour);
    }
    75% {
        box-shadow: 0 10px 15px var(--sr-anim-f3-colour),
              inset 0 10px 15px var(--sr-anim-f3-colour);
    }
}
@keyframes pulse-gold-top {
    25% {
        box-shadow: 0 15px 20px var(--ssr-anim-f1-colour),
              inset 0 15px 20px var(--ssr-anim-f1-colour);
    }
    50% {
        box-shadow: 0 15px 30px var(--ssr-anim-f2-colour),
              inset 0 15px 30px var(--ssr-anim-f2-colour);
    }
    75% {
        box-shadow: 0 15px 25px var(--ssr-anim-f3-colour),
              inset 0 15px 25px var(--ssr-anim-f3-colour);
    }
}
@keyframes pulse-purple-bottom {
    25% {
        box-shadow: 0 -15px 15px var(--sr-anim-f1-colour),
              inset 0 -15px 15px var(--sr-anim-f1-colour);
    }
    50% {
        box-shadow: 0 -20px 15px var(--sr-anim-f2-colour),
              inset 0 -20px 15px var(--sr-anim-f2-colour);
    }
    75% {
        box-shadow: 0 -10px 15px var(--sr-anim-f3-colour),
              inset 0 -10px 15px var(--sr-anim-f3-colour);
    }
}
@keyframes pulse-gold-bottom {
    25% {
        box-shadow: 0 -15px 20px var(--ssr-anim-f1-colour),
              inset 0 -15px 20px var(--ssr-anim-f1-colour);
    }
    50% {
        box-shadow: 0 -15px 30px var(--ssr-anim-f2-colour),
              inset 0 -15px 30px var(--ssr-anim-f2-colour);
    }
    75% {
        box-shadow: 0 -15px 25px var(--ssr-anim-f3-colour),
              inset 0 -15px 25px var(--ssr-anim-f3-colour);
    }
}