:root {
    --shadow: hsla(0, 0%, 33%, 0.212);
    --rerecruit-colour: rgb(113, 186, 255);
    --info-colour: rgb(59, 59, 59);
    --white: rgb(255, 255, 255);
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin: 0;
    overflow: scroll;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#gacha {
    opacity: 0;
    animation: materialise 0.5s forwards;
}
@keyframes materialise {
    100% { opacity: 1; }
}
#gacha-result-container {
    width: max(325px, 25%);
    z-index: 1;
    margin: auto;
    position: relative;
}

#result-columns {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.result-column {
    width: 20%;
    margin: 0 1% 0 1%;
}
#result-column-1 {
    margin-top: -5%;
}
#result-column-2 {
    margin-top: -8%;
}
#result-column-3 {
    margin-top: -11%;
}
#result-column-4 {
    margin-top: -14%;
}
#result-column-5 {
    margin-top: -17%;
}
.result-container {
    position: relative;
}
.top {
    margin-bottom: 60%;
}
.bottom .sparkle {
    transform: scaleY(-1);
}
.sparkle, .character-card {
    width: 100%;
    display: block;
    position: relative;
}

.new-character {
    width: 54%;
    right: 2px;
    position: absolute;
}
.top .new-character {
    top: 41%;
}
.bottom .new-character {
    top: -3%;
}
.spare-body {
    width: 56%;
    right: 1px;
    position: absolute;
}
.top .spare-body {
    bottom: -5%;
}
.bottom .spare-body {
    top: 50%;
}

.notification {
    height: 26px;
    position: relative;
    box-shadow: 0 4px 1px var(--shadow);
    background-color: var(--info-colour);
}
#reroll-options {
    top: 90%;
    width: 100%;
    position: absolute;
}
#reroll-option-blocks {
    display: flex;
    justify-content: space-evenly;
}
.option-block {
    width: 150px;
    display: inline-block;
}
.option-button {
    width: 100%;
    height: 36px;
    cursor: pointer;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    align-content: center;
    border: 2px solid var(--white);
    font: bold 1rem var(--font-family);
    box-shadow: 0 8px 1px var(--shadow);
}
#recruit-again-button {
    background-color: var(--rerecruit-colour);
}
#confirm-button {
    background-color: var(--info-colour);
}
#reroll-spend-notification {
    width: 75%;
    margin: 18px auto auto auto;
}
#reroll-currency {
    left: 0;
    top: -8px;
    width: 36%;
    position: absolute;
}
#reroll-spend-notification p {
    margin: 0;
    font-weight: bold;
    position: absolute;
    color: var(--white);
    font-family: var(--font-family);
}
#multiplier {
    top: 3px;
    left: 51px;
    font-size: 0.9rem;
}
#quantity {
    top: 1px;
    left: 80px;
    font-size: 1.1rem;
}

#gained-tickets-notification {
    z-index: -1;
    top: -120px;
    width: 100px;
    border-radius: 2px;
    position: relative;
    margin: auto 10px auto auto;
    background-color: var(--info-colour);
}
#gained-ticket-image {
    top: -2px;
    width: 30%;
    left: 10px;
    position: absolute;
}
#gained-tickets-notification p {
    top: 1px;
    margin: 0;
    left: 50px;
    font-weight: bold;
    position: absolute;
    font-family: var(--font-family);
    color: var(--rerecruit-colour);
}

.single-sparkle-bottom {
    z-index: -1;
    transform: scaleY(-1);
    position: relative;
}