:root {
    --shadow: hsla(0, 0%, 33%, 0.212);
    --rerecruit-colour: rgb(113, 186, 255);
    --info-colour: rgb(59, 59, 59);
    --white: rgb(255, 255, 255);
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin: 0;
    overflow: hidden;
}

#gacha-result-container {
    width: 25%;
    min-width: 400px;
    margin: auto;
    position: relative;
    z-index: 1;
}


#result-columns {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
.result-column {
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
}
#result-column-1 {
    margin-top: -5%;
}
#result-column-2 {
    margin-top: -8%;
}
#result-column-3 {
    margin-top: -11%;
}
#result-column-4 {
    margin-top: -14%;
}
#result-column-5 {
    margin-top: -17%;
}
.result-container {
    position: relative;
}
.top {
    margin-bottom: 60%;
}
.bottom .sparkle {
    transform: scaleY(-1);
}
.sparkle, .character-card {
    width: 100%;
    position: relative;
    display: block;
}

.new-character {
    position: absolute;
    width: 54%;
    right: 2px;
}
.top .new-character {
    top: 41%;
}
.bottom .new-character {
    top: -3%;
}
.spare-body {
    position: absolute;
    width: 56%;
    right: 1px;
}
.top .spare-body {
    bottom: -5%;
}
.bottom .spare-body {
    top: 50%;
}


.notification {
    background-color: var(--info-colour);
    position: relative;
    box-shadow: 0 4px 1px var(--shadow);
    height: 26px;
}
#reroll-options {
    position: absolute;
    top: 90%;
    width: 100%;
}
#reroll-option-blocks {
    display: flex;
    justify-content: space-evenly;
}
.option-block a {
    min-width: 180px;
    display: inline-block;
}
.option-button {
    width: 100%;
    height: 36px;
    border-style: solid;
    border-color: var(--white);
    color: var(--white);
    font-family: var(--font-family);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 8px 1px var(--shadow);
}
#recruit-again-button {
    background-color: var(--rerecruit-colour);
}
#confirm-button {
    background-color: var(--info-colour);
}
#reroll-spend-notification {
    width: 75%;
    margin: auto;
    margin-top: 18px;
}
#reroll-currency {
    position: absolute;
    top: -8px;
    left: 0;
    width: 36%;
}
#reroll-spend-notification p {
    margin: 0;
    position: absolute;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--white);
}
#multiplier {
    top: 3px;
    font-size: 0.9rem;
    left: 51px;
}
#quantity {
    top: 1px;
    font-size: 1.1rem;
    left: 80px;
}

#gained-tickets-notification {
    position: relative;
    width: 100px;
    background-color: var(--info-colour);
    border-radius: 2px;
    margin: auto;
    margin-right: 10px;
    top: -50px;
    z-index: -1;
}
#gained-ticket-image {
    position: absolute;
    width: 30%;
    top: -2px;
    left: 10px;
}
#gained-tickets-notification p {
    margin: 0;
    position :absolute;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--rerecruit-colour);
    font-weight: bolder;
    top: 1px;
    left: 50px;
}