:root {
    --special-banner-title-colour: rgb(255, 239, 151);
    --standard-banner-title-colour: rgb(21, 121, 202);
    --banner-selection-control-backcolour: rgb(70, 70, 70);
    --text-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --select-character-profile-backcolour: rgb(164, 211, 252);
}


body {
    margin: 0;
    background-color: black
}
img {
    width: 100%;
}


#selector {
    top: 5px;
    width: 100%;
    margin: 5px;
    padding-bottom: 16px;
    display: flex;
    position: fixed;
    overflow: scroll;
    justify-content:left;
}
.option-button {
    border: 0;
    padding: 0;
    width: 172px;
    min-width: 172px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    align-items: center;
    justify-content: center;
}
.option-image-container {
    margin-right: 2%;
    width: max(32px, 10%);
}
.option-text {
    margin: 0 0 0 2%;
    text-wrap-mode: nowrap;
    font: 1rem var(--text-font-family);
}
.option-image {
    top: 3px;
    left: 3px;
    position: relative;
}


.banner-container {
    width: 100%;
}
.banner-display {
    margin: auto;
    padding: 50px;
    overflow: auto;
    width: max(300px, 50%);
    text-wrap-mode: nowrap;
    scroll-snap-type: x mandatory;
}
.banner-title {
    margin-bottom: 0;
    text-align: center;
    font: bold 4rem var(--text-font-family);
    color: var(--special-banner-title-colour);
}
.banner-image {
    margin-top: 10%;
    cursor: pointer;  
    border-radius: 3px;
    margin-right: 100px;
    scroll-snap-align: center;
    animation: glow-pulse 5s ease-in-out infinite;
    box-shadow: 0 0 25px 10px var(--special-banner-title-colour);   
}
#current-banner-image, #standard-banner-image {
    margin: 0;
    scroll-snap-align: unset;
}
@keyframes glow-pulse {
    50% { box-shadow: 0 0 40px 10px rgb(253, 228, 86); }
    100% { box-shadow: 0 0 25px 10px var(--special-banner-title-colour); }
}


.option-buttons {
    display: flex;
    margin-top: 1%;
    overflow: scroll;
    padding: 20px 0 20px 0;
    width: max(400px, 100%);
    justify-content: space-evenly;
}
.currency-text {
    margin: 0 5px 0 0;
    display: inline-block;
}
.option-buttons button {
    color: white;
    cursor: pointer;
    border-width: 1px;
    align-items: center;
    margin: 0 5px 0 5px;
    text-wrap-mode: nowrap;
    box-shadow: 0 10px rgb(17, 17, 17);
    font: bold 1rem var(--text-font-family);
}
.single-pull-button, .multi-pull-button {
    width: 160px;
    display: flex;
    border-color: white;
    justify-content: space-between;
    background-color: rgb(113, 186, 255);
}
.currency-image-container {
    height: 100%;
    width: max(32px, 30%);
    position: relative;
    display: inline-block;
}
.currency-image {
    left: 5%;
    top: -70%;
    width: 130%;
    position: absolute;
}
.character-selection-button {
    width: 120px;
    background-color: var(--banner-selection-control-backcolour);
}
.character-selection-button p {
    margin: 0;
}
#banner-search {
    width: max(300px, 25%);
    margin: auto;
}
#banner-search-input {
    border: 0;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: var(--banner-selection-control-backcolour);
    font: bold 1rem var(--text-font-family);
}


#standard-banner-title {
    color: var(--standard-banner-title-colour);
}
#standard-banner-image {
    animation: standard-glow-pulse 5s;
    box-shadow: 0 0 25px 10px var(--standard-banner-title-colour);     
}
@keyframes standard-glow-pulse {
    50% { box-shadow: 0 0 40px 10px rgb(13, 97, 165); }
    100% { box-shadow: 0 0 25px 10px var(--standard-banner-title-colour); }
}
#wishlist-container {
    margin: auto;
    margin-top: 2%;
    width: max(260px, 60%);
    text-align: center;
}
.wishlist-manufacturer {
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    width: max(250px, 48%);
    display: inline-block;
    border: 2px solid var(--banner-selection-control-backcolour);
}
.wishlist-manufacturer p {
    color: white;
    margin: 1% 1% 0 0;
    text-wrap-mode: nowrap;
    font: bold 1.5rem var(--text-font-family);
}
.character-display {
    width: 96%;
    margin: auto;
    display: flex;
    margin-bottom: 2%;
    border-radius: 4px;
    align-content: space-evenly;
    border: 1px solid var(--banner-selection-control-backcolour);
}
.wishlist-character-image {
    width: 19%;
    margin: 1%;
    background-color: aliceblue;
}
#wishlist-character-selector {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    overflow: scroll;
}
#wishlist-character-selector img {
    margin: 2px;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 4px;
    width: max(64px, 10%);
    display: inline-block;
    background-color: var(--select-character-profile-backcolour);
    border: 1px solid var(--banner-selection-control-backcolour);
}

#latest-update {
    position: sticky;
    margin-left: 1%;
    color: var(--banner-selection-control-backcolour);
    font: bold 1rem var(--text-font-family);
}