body {
    margin: 0;
    background-color: black
}
img {
    width: 100%;
}


#selector {
    width: 100%;
    display: flex;
    justify-content:left;
    overflow: scroll;
    position: fixed;
    top: 5px;
}

.option-button {
    width: 172px;
    min-width: 172px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option-image-container {
    width: 10%;
    min-width: 32px;
    margin-right: 2%;
}
.option-text {
    margin: 0;
    text-wrap-mode: nowrap;
    font-size: 1rem;
    margin-left: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.option-image {
    position: relative;
    top: 3px;
    left: 3px;
}


.banner-container {
    width: 100%;
}
.banner-display {
    width: 50%;
    min-width: 300px;
    margin: auto;
}
.banner-title {
    color: rgb(255, 239, 151);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    margin-bottom: 0;
}
.banner-image {
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 3px;
    
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    animation: glow-pulse 5s;
    box-shadow: 0 0 25px 10px rgb(255, 239, 151);       
}

@keyframes glow-pulse {
    50% {
        box-shadow: 0 0 40px 10px rgb(253, 228, 86);
    }
    100% {
        box-shadow: 0 0 25px 10px rgb(255, 239, 151);
    }
}

.option-buttons {
    width: 100%;
    margin-top: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    min-width: 400px; 
    overflow: scroll;
}
.currency-text {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}
.option-buttons button {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    border-width: 1px;
    box-shadow: 0 10px rgb(17, 17, 17);
    cursor: pointer;
    align-items: center;
    text-wrap-mode: nowrap;
    margin-left: 5px;
    margin-right: 5px;
}
.single-pull-button, .multi-pull-button {
    width: 160px;
    min-width: 160px;
    display: flex;
    justify-content: space-between;
    border-color: white;
    background-color: rgb(113, 186, 255);
}
.currency-image-container {
    display: inline-block;
    width: 30%;
    min-width: 32px;
    position: relative;
    height: 100%;
}
.currency-image {
    position: absolute;
    width: 130%;
    left: 5%;
    top: -70%;
}

.character-selection-button {
    background-color: rgb(70, 70, 70);
    width: 120px;
    min-width: 120px;
}
.character-selection-button p {
    margin: 0;
}

#banner-search {
    width: 30%;
    margin: auto;
    min-width: 300px;
}
#banner-search-input {
    width: 100%;
    border: 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 5px;
}

#standard-banner-title {
    color: rgb(21, 121, 202);
}
#standard-banner-image {
    animation: standard-glow-pulse 5s;
    box-shadow: 0 0 25px 10px rgb(21, 121, 202);;      
}
@keyframes standard-glow-pulse {
    50% {
        box-shadow: 0 0 40px 10px rgb(13, 97, 165);
    }
    100% {
        box-shadow: 0 0 25px 10px rgb(21, 121, 202);
    }
}