#gacha {
    display: none;
}



img {
    display: block;
    width: 100%;
}

#lineup {
    margin: auto;
    margin-top: 10%;
    min-width: 300px;
    max-width: 300px;
    width: 20%;
    height: 400px;
}
#lineup-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.result-icon {
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    visibility: hidden;
}
.icon-figure {
    position: absolute;
    top: 42%;
    z-index: 2;
}
.icon-glow {
    height: 100%;
    opacity: 0.75;
}