:root {
    --grow_scale: 110%;
    --shrink_scale: 105%;
}

#gacha {
    display: none;
}

body {
    background-color: rgb(22, 22, 22);
}

img {
    display: block;
    width: 100%;
}

#lineup {
    margin: auto;
    margin-top: 10%;
    min-width: 300px;
    max-width: 300px;
    width: 20%;
    height: 400px;
}
#lineup-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    animation: scale 1.3s;
    animation-fill-mode: forwards;
}
.result-icon {
    width: 10%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    visibility: hidden;
}
.icon-figure {
    position: absolute;
    top: 42%;
    z-index: 2;
}
.icon-glow {
    height: 100%;
    opacity: 0.75;
}


@keyframes scale {
    90% {
        transform: scale(var(--grow_scale), var(--grow_scale));
        opacity: 1;
    }
    100% {
        transform: scale(var(--shrink_scale), var(--shrink_scale));
        opacity: 0;
    }
}
