:root {
    --grow_scale: 110%;
    --shrink_scale: 105%;
}

body {
    background-color: rgb(22, 22, 22);
}
img {
    width: 100%;
    display: block;
}

#gacha {
    display: none;
}
#lineup {
    width: 20%;
    height: 400px;
    min-width: 300px;
    max-width: 300px;
    margin: 10% auto auto auto;
}
#lineup-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    animation: scale 1.3s forwards;
}
.result-icon {
    width: 10%;
    margin: 0 1% 0 1%;
    position: relative;
    visibility: hidden;
}
.icon-figure {
    top: 42%;
    z-index: 2;
    position: absolute;
}
.icon-glow {
    height: 100%;
    opacity: 0.75;
}

@keyframes scale {
    90% {
        transform: scale(var(--grow_scale), var(--grow_scale));
        opacity: 1;
    }
    100% {
        transform: scale(var(--shrink_scale), var(--shrink_scale));
        opacity: 0;
    }
}