body {
    margin: 0;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
}

#results-container {
    position: relative;
    top: -200px;
}

#results {
    min-width: 300px;
    max-width: 1200px;
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: -1;
}
.column {
    width: 18%;
}
#column-1 {
    margin-top: 18%;
}
#column-2 {
    margin-top: 14%;
}
#column-3 {
    margin-top: 10%;
}
#column-4 {
    margin-top: 6%;
}
#column-5 {
    margin-top: 2%;
}


.char-img {
    z-index: 2;
}
.spare-body-label, .new-char-img {
    display: inline-block;
    position: absolute;
}
.new-char-img, .spare-body-label {
    left: 50%;
    width: 50%;
    z-index: 3;
}
.top {
    margin-bottom: 50%;
}
.top .new-char-img {
    top: 41%;
}
.top .spare-body-label {
    top: 95%;
}
.bottom .new-char-img {
    top: -2%;
}
.bottom .spare-body-label {
    top: 52%;
}
.sparkle-img-normal {
    z-index: -1;
}
.sparkle-img-reversed {
    transform: scaleY(-1);
    top: -77px;
    z-index: -1;
}


#options {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    z-index: 5;
}
#option-buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    color: rgb(255, 255, 255);
    width: 180px;
    height: 40px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0 8px 1px hsla(0, 0%, 33%, 0.212);
    cursor: pointer;
    z-index: 1;
}

#confirm-btn {
    background-color: rgb(59, 59, 59);
}
#recruit-again-btn {
    background-color: rgb(113, 186, 255);
}
#ticket-notification {
    background-color: rgb(59, 59, 59);
    width: 25%;
    height: 26px;
    margin-top: 12px;
    margin-left: 60%;
}
#ticket-notification img {
    position: relative;
    width: 36%;
    top: -8px;
    display: inline-block;
}
#ticket-notification p {
    color: rgb(255, 255, 255);
    margin: 0;
    display: inline;
    position: relative;
    top: -27px;
    left: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    white-space: pre;
    cursor: default;
}